<table id="equipment-list">
  <thead>
    <tr> 
    	<th>№</th>
    	<th>Оборудование</th>
    	<th>Заказчик</th>
    	<th>Даты</th>
    </tr>
  </thead>
  <tbody>
  {%for item in objs %}
   {% if forloop.counter|divisibleby:2 %}
   	<tr class="quipment-list-even-row">
     <td>{{forloop.counter}}</td>
     <td>{{item.name}}</td>
     <td>{{item.organizaiton}}</td>
     <td>{{item.starttime}}-{{item.endtime}}</td>
   	</tr>
    {% else %}
   	<tr class="quipment-list-even-row">
     <td>{{forloop.counter}}</td>
     <td>{{item.name}}</td>
     <td>{{item.organizaiton}}</td>
     <td>{{item.starttime}}-{{item.endtime}}</td>
   	</tr>
    {% endif %}
   {%endfor%}
  </tbody>
</table>