{%load i18n%}

{%if error == 'new' %}
<form id="main-equipment-form" method="post" action="{%url 'equipment-app'%}">
{{form.as_p}}
<input type="submit" value="{%trans "Отправить"%}">
{%csrf_token%}
</form>
{%elif error %}
<form id="main-equipment-form" method="post" action="{%url 'equipment-app'%}">
{{form.as_p}}
<div id="equipment-form-error">{{error}}</div>
<input type="submit" value="{%trans "Отправить"%}">
{%csrf_token%}
</form>
{%else%}
<div id="equipment-booked-successfully">{%trans "Заявка на аренду оборудования успешно подана."%}</div>
<div id="equipment-renew-page" onclick="location.reload();">{%trans "Обновить страницу"%}</div>
{%endif%} 


